<aside class="sidebar">
  <button type="button" class="sidebar-close-btn !mt-4">
    <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
  </button>
  <div>
    <a href="{{ url_for('dashboard.index') }}" class="sidebar-logo">
      <img
        src="{{ url_for('static', filename='assets/images/logo.png') }}"
        alt="site logo"
        class="light-logo"
      />
      <img
        src="{{ url_for('static', filename='assets/images/logo-light.png') }}"
        alt="site logo"
        class="dark-logo"
      />
      <img
        src="{{ url_for('static', filename='assets/images/logo-icon.png') }}"
        alt="site logo"
        class="logo-icon"
      />
    </a>
  </div>
  <div class="sidebar-menu-area">
    <ul class="sidebar-menu" id="sidebar-menu">
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="solar:document-text-outline"
            class="menu-icon"
          ></iconify-icon>
          <span>Member Management</span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('componentspage.typography') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              WL-API Partner
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.colors') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              White Label Partner
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.button') }}"
              ><i
                class="ri-circle-fill circle-icon text-success-600 w-auto"
              ></i>
              Master Distributor
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.dropdown') }}"
              ><i
                class="ri-circle-fill circle-icon text-purple-600 dark:text-purple-400 w-auto"
              ></i>
              Distributor</a
            >
          </li>
          <li>
            <a href="{{ url_for('componentspage.alert') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Retailer</a
            >
          </li>
          <li>
            <a href="{{ url_for('componentspage.card') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
               Registered User
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.carousel') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              Employee Users
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="heroicons:document"
            class="menu-icon"
          ></iconify-icon>
          <span>Fund Management </span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('forms.form') }}"
              ><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i
              >Top-up Request
            </a>
          </li>
          <li>
            <a href="{{ url_for('forms.formLayout') }}"
              ><i class="ri-circle-fill circle-icon text-warning-600 w-auto"></i
              >Top-up Request Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('forms.formValidation') }}"
              ><i
                class="ri-circle-fill circle-icon text-success-600 w-auto"
              ></i>
              Direct Wallet Top-Up Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('forms.wizard') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Fund Hold Report
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="mingcute:storage-line"
            class="menu-icon"
          ></iconify-icon>
          <span>Complaint & Grievances </span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('table.tableBasic') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              New Complaint Request
            </a>
          </li>
          <li>
            <a href="{{ url_for('table.tableData') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Complaint Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.imageUpload') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              Create Ticket Template
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.switch') }}"
              ><i class="ri-circle-fill circle-icon text-pink-600 w-auto"></i>
              Role Base Escalation Report
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="solar:pie-chart-outline"
            class="menu-icon"
          ></iconify-icon>
          <span>Commission Manager </span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('chart.lineChart') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Create New Package
            </a>
          </li>
          <li>
            <a href="{{ url_for('chart.columnChart') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Commission List
            </a>
          </li>
          <li>
            <a href="{{ url_for('chart.pieChart') }}"
              ><i
                class="ri-circle-fill circle-icon text-success-600 w-auto"
              ></i>
              Bulk Commission Planner
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.lists') }}"
              ><i class="ri-circle-fill circle-icon text-[#e30a0a] w-auto"></i>
              Commission Mark-Up Update
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.calendar') }}"
              ><i class="ri-circle-fill circle-icon text-yellow-400 w-auto"></i>
              Partner Vise Earning Reports
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.radio') }}"
              ><i class="ri-circle-fill circle-icon text-orange-500 w-auto"></i>
              Commission Change History
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="flowbite:users-group-outline"
            class="menu-icon"
          ></iconify-icon>
          <span>System Control </span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('user.usersList') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              API Service Downtime</a
            >
          </li>
          <li>
            <a href="{{ url_for('user.usersGrid') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Agent Fund Downtime
            </a>
          </li>
          <li>
            <a href="{{ url_for('user.addUser') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              Payout Downtime
            </a>
          </li>
          <li>
            <a href="{{ url_for('user.viewProfile') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Bulk Package Update
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.pagination') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              User Portal Accessibility
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.badges') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              Login History (Web-App)
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.tooltip') }}"
              ><i
                class="ri-circle-fill circle-icon dark:text-purple-400 w-auto"
              ></i
              >Update Member Trxn. Limit
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.videos') }}"
              ><i class="ri-circle-fill circle-icon text-cyan-600 w-auto"></i>
              Location IP Blocker
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.starRating') }}"
              ><i class="ri-circle-fill circle-icon text-[#7f27ff] w-auto"></i>
              Platform Color Management
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.tags') }}"
              ><i class="ri-circle-fill circle-icon text-[#8252e9] w-auto"></i>
              API Switching Functions
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="simple-line-icons:vector"
            class="menu-icon"
          ></iconify-icon>
          <span>API Service Manager</span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('authentication.signin') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              API Logs
            </a>
          </li>
          <li>
            <a href="{{ url_for('authentication.signup') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Webhook Logs
            </a>
          </li>
          <li>
            <a href="{{ url_for('authentication.forgotPassword') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              API Transaction Checker
            </a>
          </li>

          <li>
            <a href="{{ url_for('componentspage.avatar') }}"
              ><i
                class="ri-circle-fill circle-icon text-success-600 w-auto"
              ></i>
              App Configuration Features
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.progress') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              Set Service Charges
            </a>
          </li>
          <li>
            <a href="{{ url_for('componentspage.tabs') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              SMS Logs
            </a>
          </li>
          <li>
            <a href="{{ url_for('invoice.invoiceList') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              API Switcher
            </a>
          </li>
          <li>
            <a href="{{ url_for('invoice.invoicePreview') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              White Label API Manager
            </a>
          </li>
          <li>
            <a href="{{ url_for('invoice.invoiceAdd') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              WL - API Transaction Checker
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="icon-park-outline:setting-two"
            class="menu-icon"
          ></iconify-icon>
          <span>Transaction Reports </span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('settings.company') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              Collection Report (PG)
            </a>
          </li>
          <li>
            <a href="{{ url_for('settings.notification') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Bill Payment Reports
            </a>
          </li>
          <li>
            <a href="{{ url_for('settings.notificationAlert') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              Mobile Recharge Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('settings.theme') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Money Transfer Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('settings.currencies') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              DTH Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('settings.language') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Commission Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('settings.paymentGateway') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Downtime Reports
            </a>
          </li>

          <li>
            <a href="{{ url_for('invoice.invoiceEdit') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              GST Report
            </a>
          </li>
          <li>
            <a href="{{ url_for('wallet') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              User Wise Ledger Reports
            </a>
          </li>
          <li>
            <a href="{{ url_for('email') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              Services Transaction Ratio
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="hugeicons:ai-brain-03"
            class="menu-icon"
          ></iconify-icon>
          <span>Announcement Update </span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('aiapplication.textGenerator') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              News Notifications
            </a>
          </li>
          <li>
            <a href="{{ url_for('aiapplication.codeGenerator') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Helpdesk Update
            </a>
          </li>
          <li>
            <a href="{{ url_for('aiapplication.imageGenerator') }}"
              ><i class="ri-circle-fill circle-icon text-info-600 w-auto"></i>
              User wise Announcement
            </a>
          </li>
          <li>
            <a href="{{ url_for('aiapplication.voiceGenerator') }}"
              ><i class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>
              Service wise Announcement
            </a>
          </li>
          <li>
            <a href="{{ url_for('aiapplication.videoGenerator') }}"
              ><i
                class="ri-circle-fill circle-icon text-success-600 w-auto"
              ></i>
              Support Details Updates
            </a>
          </li>
          <li>
            <a href="{{ url_for('chatMessage') }}"
              ><i
                class="ri-circle-fill circle-icon text-success-600 w-auto"
              ></i>
              Company Logo Updates
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)">
          <iconify-icon
            icon="hugeicons:invoice-03"
            class="menu-icon"
          ></iconify-icon>
          <span>Invoice</span>
        </a>
        <ul class="sidebar-submenu">
          <li>
            <a href="{{ url_for('calendarMain') }}"
              ><i
                class="ri-circle-fill circle-icon text-primary-600 w-auto"
              ></i>
              List</a
            >
          </li>
          <li>
            <a href="{{ url_for('kanban') }}"
              ><i
                class="ri-circle-fill circle-icon text-warning-600 w-auto"
              ></i>
              Preview</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
