{% extends 'layout/layout.html' %}

{% block content %}
<style>
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
</style>

<div class="card border-0 over mb-2">
    <div class="card-header flex items-end gap-4 p-4 overflow-x-auto hide-scrollbar overflow-hidden">
        <div class="flex-shrink-0">
            <label for="fromDate" class="form-label">From Date</label>
            <input type="date" id="fromDate" name="fromDate" class="form-control" />
        </div>

        <div class="flex-shrink-0">
            <label for="toDate" class="form-label">To Date</label>
            <input type="date" id="toDate" name="toDate" class="form-control" />
        </div>

        <div class="flex-shrink-0">
            <label class="form-label">Complaint Type</label>
            <div>
                <button data-dropdown-toggle="distributorDropdown" data-dropdown-placement="bottom"
                    class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
                    type="button">
                    Select
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="distributorDropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                    <ul class="py-2 text-base text-gray-700 dark:text-gray-200">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Collection
                                Services - PG</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">CC
                                Bill Payment</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bank
                                Settlement</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Money
                                Transfer</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mobile
                                & DTH Recharge</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Other</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex-shrink-0">
            <label class="form-label">Complaint Status</label>
            <div>
                <button data-dropdown-toggle="statusDropdown" data-dropdown-placement="bottom"
                    class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-2 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
                    type="button">
                    Select
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="statusDropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                    <ul class="py-2 text-base text-gray-700 dark:text-gray-200">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Resolved</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Escalated</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">On
                                Hold</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">New</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Junk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex-shrink-0">
            <label class="form-label">Select Department</label>
            <div>
                <button data-dropdown-toggle="kycDropdown" data-dropdown-placement="bottom"
                    class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-2 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
                    type="button">
                    Select
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="kycDropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                    <ul class="py-2 text-base text-gray-700 dark:text-gray-200">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Admin</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Support
                                Team</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Legal
                                Department</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex flex-shrink-0 gap-2">
            <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                Search
            </button>
            <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                Export-Excel
            </button>
            <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                Export-PDF
            </button>
        </div>
    </div>
</div>

<div class="grid grid-cols-12">
    <div class="col-span-12">
        <div class="card-header flex flex-wrap items-center justify-between gap-3">
            <div class="flex flex-wrap items-center gap-3">
                <div class="flex items-center gap-2">
                    <h6>Create Retailer</h6>
                </div>
            </div>
        </div>
        <div class="border border-gray-300 rounded">
            <div class="card-body border border-gray-300 rounded bg-white">
                <div class="table-responsive scroll-sm overflow-x-auto hide-scrollbar">
                    <table class="table mb-0 bg-white">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Sr. No
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Req. Date
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Member ID
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Member Name
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Service Category
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Transaction Type
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Transaction IDt
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Transaction Date
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Trx Amount
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Disposition
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-check style-check flex items-center gap-2 py-2 px-4">
                                        <button type="button"
                                            class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                                            Complaint Status
                                        </button>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Agent Discription
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-check style-check flex items-center gap-2 py-2 px-4">
                                        <button type="button"
                                            class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                                            Escalation Deprt
                                        </button>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Updator Remark
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                                    <td>
                                    <div class="form-check style-check flex items-center gap-2 py-2 px-4">
                                        <button type="button"
                                            class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                                           Resolved
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                               <td>
                                    <div class="form-check style-check flex items-center gap-2 py-2 px-4">
                                        <button type="button"
                                            class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                                            Support Team
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 0123 </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}