{% extends 'layout/layout.html' %} {% block content %}
<style>
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>

<div class="card border-0 over mb-2">
  <div class="card-header flex items-end gap-4 p-4 overflow-x-auto hide-scrollbar overflow-hidden">
    <div class="flex-shrink-0">
      <label for="fromDate" class="form-label">From Date</label>
      <input type="date" id="fromDate" name="fromDate" class="form-control" />
    </div>

    <div class="flex-shrink-0">
      <label for="toDate" class="form-label">To Date</label>
      <input type="date" id="toDate" name="toDate" class="form-control" />
    </div>

    <div class="flex-shrink-0">
      <label class="form-label">Select API Service</label>
      <div>
        <button data-dropdown-toggle="distributorDropdown" data-dropdown-placement="bottom"
          class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
          type="button">
          Select
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <div id="distributorDropdown"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
          <ul class="py-2 text-base text-gray-700 dark:text-gray-200">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">01.
                Payment Gateway Services</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">02. CC
                Bill Payment API</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">03.
                Bank Settlement API</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">04.
                Money Transfer API</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">05.
                Mobile Recharge API</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">06. SMS
                API</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex-shrink-0">
      <label class="form-label">Select Retailer</label>
      <div>
        <button data-dropdown-toggle="statusDropdown" data-dropdown-placement="bottom"
          class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-2 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
          type="button">
          Select
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <div id="statusDropdown"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
          <ul class="py-2 text-base text-gray-700 dark:text-gray-200">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Select
                All Retailer</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">RT -
                Rohit Kumar</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">RT -
                Rohit Patil</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">RT -
                Akshay Khanna</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">RT -
                Amruta Devi</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex flex-shrink-0 gap-2">
      <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
        Search
      </button>
      <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
        Export-Excel
      </button>
      <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
        Export-PDF
      </button>
    </div>
  </div>
</div>

<div class="grid grid-cols-12">
  <div class="col-span-12">
    <div class="border border-gray-300 rounded">
      <div class="card-body border border-gray-300 rounded bg-white">
        <div class="table-responsive scroll-sm overflow-x-auto hide-scrollbar">
          <table class="table mb-0 bg-white">
            <thead>
              <tr>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">Sr. No</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">Date & Time</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">API - Service</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">TXN Type</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">Mode</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">Amount</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">API Margin</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">Retailer Margin</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">DS Margin</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">MDS Margin</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">WL Margin</label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">Admin</label>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">01</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">23-03-2025 : 10:39 AM</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">Mobile Recharge Service</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">Jio</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">Commission</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹300.00</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹7.00</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹2.00</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹1.00</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹1.00</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹0.00</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1">₹3.00</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <table class="table mb-0 bg-white w-full mt-2">
          <tbody>
            <tr>
              <td colspan="5" class="text-left">
                <div class="text-gray-700 text-base font-medium px-4 py-2">
                  Total volume generated
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹3,370.00
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹14.00
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹4.00
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹2.00
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹2.00
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹0.00
                </div>
              </td>
              <td>
                <div class="border border-gray-300 rounded-md px-3 py-2 text-sm font-semibold">
                  ₹6.00
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}