{% extends 'layout/layout.html' %}

{% block content %}

  <style>
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>

<div class="card border-0 over mb-2">
  <div class="card-header flex items-end gap-4 p-4 overflow-x-auto hide-scrollbar overflow-hidden">
    <div class="flex-shrink-0">
      <label for="fromDate" class="form-label">From Date</label>
      <input type="date" id="fromDate" name="fromDate" class="form-control" />
    </div>

    <div class="flex-shrink-0">
      <label for="toDate" class="form-label">To Date</label>
      <input type="date" id="toDate" name="toDate" class="form-control" />
    </div>

    <div class="flex-shrink-0">
      <label class="form-label">Created By</label>
      <div>
        <button data-dropdown-toggle="distributorDropdown" data-dropdown-placement="bottom"
          class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
          type="button">
          Select the Creator
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <div id="distributorDropdown"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
          <ul class="py-2 text-base text-gray-700 dark:text-gray-200">
           <li>
              <a href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Select the Creator</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    

    <div class="flex flex-shrink-0 gap-2">
      <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
        Search
      </button>
    </div>

    <div class="flex flex-shrink-0 gap-2">
      <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
       Create Plan
      </button>
    </div>

    <div class="md:col-span-6 col-span-12 flex justify-end items-end">
      <button type="button" class="btn bg-success-600 hover:bg-success-700 text-white rounded-lg px-5 py-[11px] mt-4 items-end">
        Export-Excel
      </button>
    </div>
    <div class="md:col-span-6 col-span-12 flex justify-end items-end">
      <button type="button" class="btn bg-danger-600 hover:bg-danger-700 text-white rounded-lg px-5 py-[11px] mt-4 items-end">
        Export-PDF
      </button>
    </div>
  </div>
</div>

<div class="grid grid-cols-12">
  <div class="col-span-12">
    <div class="card-header flex flex-wrap items-center justify-between gap-3">
      
    </div>
    <div class="border border-gray-300 rounded">
      <div class="card-body border border-gray-300 rounded bg-white">
        <div class="table-responsive scroll-sm overflow-x-auto hide-scrollbar">
         <table class="table mb-0 bg-white">
            <thead>
              <tr>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                      Sr. No
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                      Created Date
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                    Commission Plan Name
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                      Created By
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                     Plan Created For
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                    Service List
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                     Update
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div
                    class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                    <label class="form-check-label" for="checkAll">
                     Edit Plan
                    </label>
                  </div>
                </th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> 01 </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> 31-05-2025 </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> Default Commission Plan </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> Creator Name </label>
                  </div>
                </td>
                <td>
                 <div>
                        
                        <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                             <option value="">Check Member List</option>
                            <option value="">White Label Partner</option>
                            <option value="">Master Distributor</option>
                            <option value="">Distributor</option>
                            <option value="">Retailer</option>
                        </select>
                    </div>
                </td>
                <td>
                 <div>
                    <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                      
                            <option value="">Payment Gateway</option>
                            <option value="">Bill Payment Service</option>
                            <option value="">Mobile Recharge</option>
                            <option value="">Payout Service</option>
                            <option value="">Money Transfer</option>
                            <option value="">Traveling Service</option>
                        </select>
                    </div>
                </td>
                </td>
                <td>
                  <label class="inline-flex items-center cursor-pointer">
                        <input type="checkbox" class="sr-only peer" checked>
                        <span class="relative w-11 h-6 bg-gray-400 peer-focus:outline-none rounded-full peer dark:bg-gray-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600"></span>
                       
                    </label>
                </td>
                <td>
                  <div>
                    <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                  <option value=""> Commission Markup</option>     
                            <option value="">Bill Payment Service</option>
                            <option value="">Mobile Recharge</option>
                            <option value="">Traveling Service</option>
                        </select>
                    </div>
                </td>
               </tr>
               <tr>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> 02 </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> 31-05-2025 </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> Commission plan for WL </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> Creator Name </label>
                  </div>
                </td>
                <td>
                 <div>
                        
                        <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                            <option value="">Check Member List</option>
                            <option value="">White Label Partner</option>
                            <option value="">Master Distributor</option>
                            <option value="">Distributor</option>
                            <option value="">Retailer</option>
                        </select>
                    </div>
                </td>
                <td>
                 <div>
                    <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                            <option value="">Payment Gateway</option>
                            <option value="">Bill Payment Service</option>
                            <option value="">Mobile Recharge</option>
                            <option value="">Payout Service</option>
                            <option value="">Money Transfer</option>
                            <option value="">Traveling Service</option>
                        </select>
                    </div>
                </td>
                </td>
                <td>
                  <label class="inline-flex items-center cursor-pointer">
                        <input type="checkbox" class="sr-only peer" checked>
                        <span class="relative w-11 h-6 bg-gray-400 peer-focus:outline-none rounded-full peer dark:bg-gray-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600"></span>
                       
                    </label>
                </td>
                <td>
                  <div>
                    <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                            <option value="">Bill Payment Service</option>
                            <option value="">Mobile Recharge</option>
                            <option value="">Traveling Service</option>
                        </select>
                    </div>
                </td>
               </tr>
               <tr>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> 03 </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> 31-05-2025 </label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> Only Agent</label>
                  </div>
                </td>
                <td>
                  <div
                    class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                    <label class="form-check-label" for="check1"> Creator Name </label>
                  </div>
                </td>
                <td>
                 <div>
                        
                        <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                              <option value="">Check Member List</option>
                            <option value="">White Label Partner</option>
                            <option value="">Master Distributor</option>
                            <option value="">Distributor</option>
                            <option value="">Retailer</option>
                        </select>
                    </div>
                </td>
                <td>
                 <div>
                    <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                            <option value="">Payment Gateway</option>
                            <option value="">Bill Payment Service</option>
                            <option value="">Mobile Recharge</option>
                            <option value="">Payout Service</option>
                            <option value="">Money Transfer</option>
                            <option value="">Traveling Service</option>
                        </select>
                    </div>
                </td>
                </td>
                <td>
                  <label class="inline-flex items-center cursor-pointer">
                        <input type="checkbox" class="sr-only peer" checked>
                        <span class="relative w-11 h-6 bg-gray-400 peer-focus:outline-none rounded-full peer dark:bg-gray-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600"></span>
                       
                    </label>
                </td>
                <td>
                  <div>
                    <select class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4" id="style">
                         <option value="">Charges Markup</option>
                            <option value="">Payment Gateway</option>
                            <option value="">Payout Service</option>
                            <option value="">Money Transfer</option>
                        </select>
                    </div>
                </td>
               </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}